<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="awais.instagrabber">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".InstaGrabberApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTop"
            android:taskAffinity=".Main"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.WEB_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />

                <data android:host="ig.me" />
                <data android:host="www.ig.me" />
                <data android:host="instagram.com" />
                <data android:host="www.instagram.com" />

                <data android:pathPrefix="/" />
                <data android:pathPrefix="/p" />
                <data android:pathPrefix="/explore/tags" />
            </intent-filter>
        </activity>

        <activity
            android:name="awaisomereport.ErrorReporterActivity"
            android:allowEmbedded="false"
            android:allowTaskReparenting="false"
            android:autoRemoveFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:documentLaunchMode="never"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask"
            android:lockTaskMode="never"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:taskAffinity="awais.instagrabber.errorreport"
            android:theme="@android:style/Theme.DeviceDefault.Dialog" />

        <activity
            android:name=".directdownload.MultiDirectDialog"
            android:allowEmbedded="false"
            android:allowTaskReparenting="false"
            android:autoRemoveFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:documentLaunchMode="never"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask"
            android:lockTaskMode="never"
            android:noHistory="false"
            android:taskAffinity="awais.instagrabber.multidialog"
            android:theme="@style/FlyingGayDialog" />

        <activity
            android:name=".directdownload.DirectDownload"
            android:allowEmbedded="false"
            android:allowTaskReparenting="false"
            android:autoRemoveFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:description="@string/direct_download_desc"
            android:documentLaunchMode="never"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:label="@string/direct_download"
            android:launchMode="singleTask"
            android:lockTaskMode="never"
            android:noHistory="false"
            android:theme="@style/CompletelyTransparent">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.WEB_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="ig.me" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>

        <!--<activity-->
        <!--    android:name=".activities.PostViewer"-->
        <!--    android:parentActivityName=".activities.MainActivity">-->

        <!--    <meta-data-->
        <!--        android:name="android.support.PARENT_ACTIVITY"-->
        <!--        android:value=".activities.MainActivity" />-->
        <!--</activity>-->

        <activity
            android:name=".activities.CommentsViewer"
            android:parentActivityName=".activities.PostViewer">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PostViewer" />
        </activity>

        <!--<activity-->
        <!--    android:name=".activities.StoryViewer"-->
        <!--    android:parentActivityName=".activities.MainActivity">-->

        <!--    <meta-data-->
        <!--        android:name="android.support.PARENT_ACTIVITY"-->
        <!--        android:value=".activities.MainActivity" />-->
        <!--</activity>-->

        <activity
            android:name=".activities.FollowViewer"
            android:parentActivityName=".activities.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.ProfilePicViewer"
            android:parentActivityName=".activities.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <!--<activity-->
        <!--    android:name=".activities.ProfileViewer"-->
        <!--    android:parentActivityName=".activities.PostViewer">-->

        <!--    <meta-data-->
        <!--        android:name="android.support.PARENT_ACTIVITY"-->
        <!--        android:value=".activities.PostViewer" />-->
        <!--</activity>-->

        <!--<activity-->
        <!--    android:name=".activities.SavedViewerFragment"-->
        <!--    android:parentActivityName=".activities.MainActivity">-->

        <!--    <meta-data-->
        <!--        android:name="android.support.PARENT_ACTIVITY"-->
        <!--        android:value=".activities.MainActivity" />-->
        <!--</activity>-->

        <activity
            android:name=".activities.NotificationsViewer"
            android:parentActivityName=".activities.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.Login"
            android:label="@string/login"
            android:parentActivityName=".activities.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <!--<activity-->
        <!--    android:name=".activities.DirectMessagesActivity"-->
        <!--    android:parentActivityName=".activities.MainActivity">-->

        <!--    <meta-data-->
        <!--        android:name="android.support.PARENT_ACTIVITY"-->
        <!--        android:value=".activities.MainActivity" />-->
        <!--</activity>-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>